body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    width: 60%;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    text-align: center;
}

textarea, input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    width: 100%;
    background: #ff7a00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #e56d00;
}

.box {
    background: #fafafa;
    padding: 15px;
    border-left: 4px solid #ff8800;
    margin-bottom: 20px;
    white-space: pre-wrap;
}
